<ul id="content-types" data-class="inputTemplate">
	<li>
		<div class="sleeve" data-type="p">
			<p></p>
		</div>
	</li>
	<li>
		<div class="sleeve" data-type="h1">
			<h1></h1>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="h2" data-content-type="block">
			<h2></h2>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="h3" data-content-type="block">
			<h3></h3>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="section" data-content-type="container">
			<section></section>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="link" data-content-type="inline">
			<a></a>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="image" data-content-type="inline">
			<img></img>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="address">
			<address></address>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="table" data-content-type="container">
			<table></table>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="ul" data-content-type="container">
			<ul>
				<li></li>
			</ul>
		</div>
	<li>
		<li>
		<div class="sleeve" data-type="ol" data-content-type="container">
			<ol>
				<li></li>
			</ol>
		</div>
	<li>
	<li>
		<div class="sleeve" data-type="hr">
			<hr/>
		</div>
	<li>
</ul>